model_version: 2.0
product_va_config:
    name: PM Stats Exporter
    product_name: eric-oss-pm-stats-exporter
    version: {version}
    spoc:  ESZAZSE (Szabolcs Zsengeller, PO), ETSALOI (István Albert Oláh, Kodiak Security Master)
    va_template_version: 2.0.0
    description: The purpose of the PM Stats Exporter to fulfill the requirement of the DM&M output.
    images:
        - /eric-oss-pm-stats-exporter:{version}
